
#legend {
}

#locatorMap {
}

#scalebar {
}

#featureList {
}

/* make mapbuilder blocks collapsible */

html.js div.block-mapbuilder h2 {
  padding-left: 1em;
  background: url(images/menu-expanded.gif) no-repeat 0% 50%;
}

html.js div.collapsed h2 {
  padding-left: 1em;
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%;
}

